<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>
<div class="ttt-square"></div>

<div class="board-initialize">
  <%= form_for(@game) do |f| %>
    <%= f.submit "EASY", class: "board-initialize-button" %>
  <% end %>
  <%= form_for(@game) do |f| %>
    <%= f.submit "MEDIUM", class: "board-initialize-button" %>
  <% end %>
  <%= form_for(@game) do |f| %>
    <%= f.submit "HARD", class: "board-initialize-button" %>
  <% end %>
</div>