<!DOCTYPE html>
<html>
<head>
  <title>TICTACTOE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Oxygen:700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="site-header">
    <div class="nav">
      <h1>tictactoe</h1>
      <ul class="nav-links">
        <li class="nav-links-item"><%= link_to('NEW GAME', root_path) %></li>
        <li class="nav-links-item"><%= link_to('LEADERS', leaderboard_path) %></li>
        <% if player_signed_in? %>
          <li class="nav-links-item"><%= link_to('ACCOUNT', edit_player_registration_path) %></li>
          <li class="nav-links-item"><%= link_to('LOGOUT', destroy_player_session_path, :method => :delete) %></li>
        <% else %>
          <li class="nav-links-item"><%= link_to('REGISTER', new_player_registration_path)  %></li>
          <li class="nav-links-item"><%= link_to('LOGIN', new_player_session_path)  %></li>
        <% end %>
      </ul>
    </div>
    <div class="aside notice alert">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
</body>
</html>
