<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">
    <nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <h1><%= link_to('TicTacToe', root_path) %></h1>
      <ul class="nav-links">
        <li class="nav-links-item"><%= link_to('ALL GAMES', games_path) %></li>
        <li class="nav-links-item"><%= link_to('LEADERBOARD', leaderboard_path) %></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
